body {
    text-align: center;
}

#calculator {
    margin: auto;
    width: 336px;
    padding: 15px;
    border: 2px solid #000;
    border-radius: 15px;
}

#calc-grid {
    display: grid;
    justify-content: center;
    align-content: center;
    grid-template-columns: repeat(4, 75px);
    grid-template-rows: minmax(120px, auto) repeat(5, 75px);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
}


.span-two {
    grid-column: span 2;
}

#display {
    grid-column: span 4;
    background-color: beige;
    border-radius: 10px;
}

button {
    border-radius: 10px;
    border: none;
}